<a href="https://colab.research.google.com/github/Rayanabdi/Rayanabdi/blob/main/Python_Practice_01_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ðŸ§‘ðŸ»â€ðŸ’» Python Practice Set 1
2025 -OCT

In [ ]:
# 01
# Create a list of 5 numbers.
# a. Print the first and last elements.
# b. Add a number to the end of the list.
# c. Print the length of the list.

In [2]:
# answer 01:
my_list = [1 , 2, 3, 4, 5]
print(f" The first Number is {my_list[0]}", "\n", f"The last Number is {my_list[-1]}")
my_list.append(int(input("Please Add your number to list: ")))
print(f"from now on, The length of the list {len(my_list)}")

 The first Number is1
 The last Number is 5
Please Add your number to list10
from now on, The lenght of the list 6

In [1]:
# prelocation and for loop and if and while

my_list = []

for i in range(1, 6):
  my_list.append(i)

print(my_list)
print(f" The first Number is {my_list[0]}", "\n", f"The last Number is {my_list[-1]}")


while True:
  user_input = input("Please Add your number to the end of the list: ")
  if user_input.isnumeric():
    my_list.append(int(user_input))
    print(f"From now on, the length of the list is {len(my_list)}")
    break
  else:
    print("Invalid input. Please enter a number.")
    continue

[1, 2, 3, 4, 5]
 The first Number is 1
 The last Number is 5
Invalid input. Please enter a number.
Please Add your number to the end of the list: 23
From now on, the length of the list is 6

In [ ]:
# 02
# Create a tuple with 3 items: a name, age, and city.
# Print each value on a separate line.

In [4]:
# answer 02:
my_tuple = ("name", "age", "city")
print(f"your first element is {my_tuple[0]}")
print(f"Your second element is {my_tuple[1]}")
print(f" Your third element is {my_tuple[2]}")

your first element is name
Your second element is age
Your third element is city

In [ ]:
# answer 02:
my_tuple = ("name", "age", "city")
print(f"Your first element is {my_tuple[0]} \nYour second element is {my_tuple[1]} \nYour third element is {my_tuple[2]}")

your first element is name
Your second element is age
Your third element is city

In [ ]:
name = input("Please enter your name: ").strip(" ").strip("\n").capitalize()
age = input("Please enter your age: ").strip(" ").strip("\n")
city = input("Please enter your city: ").strip(" ").strip("\n").capitalize()
my_tuple = (name, age, city)
print(f" Your name is {my_tuple[0]}")
print(f" Your age is {my_tuple[1]}")
print(f" Your city is {my_tuple[2]}")

In [ ]:
name = input("Please enter your name: ").strip(" ").strip("\n").capitalize()
age = input("Please enter your age: ").strip(" ").strip("\n")


while True:
  if age.isnumeric():
    break
  else:
    print("Invalid input. Please enter a number.")
    age = input("Please enter number of your age: ").strip(" ").strip("\n")


city = input("Please enter your city: ").strip(" ").strip("\n").capitalize()

my_tuple = (name, age, city)
print(f" Your name is {my_tuple[0]}")
print(f" Your age is {my_tuple[1]}")
print(f" Your city is {my_tuple[2]}")

In [ ]:
# 03
# Create a dictionary with keys: "name", "age", and "city".
# a. Print the value of "name".
# b. Change the value of "age".
# c. Add a new key "hobby".

In [6]:
# answer 03:
my_dict = {"name": "rayan".capitalize() , "age": 25, "city": "tehran".capitalize()}
print(f"Your name is {my_dict['name']}")
my_dict["age"] = 26
my_dict["hobby"] = input("Please enter your hobby: ").capitalize()
print(my_dict)

Your name is Rayan
Please enter your hobby: programming
{'name': 'Rayan', 'age': 26, 'city': 'Tehran', 'hobby': 'programming'}

In [ ]:
# 04
# Ask the user to enter a number (use input()).
# Check if the number is even or odd and print a message.

In [ ]:
# answer 04:
# note: if the user input string, the code shows an error. It is not important in this practice for now.
# Hint: example code for input a number

while True:
  input_number_str = input('Please input a number: ').strip(" ").strip("\n")

  if input_number_str.isnumeric():
    input_number = int(input_number_str)
    if input_number % 2 == 0:
      print("Its an even number")
    else:
      print("Its an odd number")
    break
  else:
    print("Invalid input.")
    continue

In [ ]:
# 05
# Given a variable `score`, print the grade:
# 90+ => A
# 80 â€“ 89 => B
# 70 â€“ 79 => C
# 60 â€“ 69 => D
# less than 60 => F

In [ ]:
# answer 05:
while True:
  score_input = input("Please enter your score (0-100)").strip(" ").strip("\n")

  if score_input.isnumeric():
    score = int(score_input)

    if 0 <= score <= 100:
      if score >= 90:
        print("Your grade is A")
      elif score >= 80:
        print("Your grade is B")
      elif score >= 70:
        print("Your grade is C")
      elif score >= 60:
        print("Your grade is D")
      else:
        print("Your grade is F")
      break
    else:
      print("Invalid score. Please enter a number between 0 and 100.")
  else:
    print("Invalid input.")

Please enter your score (0-100)sa
Invalid input.
Please enter your score (0-100)sa
Invalid input.

In [ ]:
# 06
# Given a list of numbers, print only the even ones.

In [29]:
# answer 06:
my_list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for number in my_list_1:
  if number % 2 == 0:
    print(number)

2
4
6
8
10

In [ ]:
my_list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for number in my_list_1:
  if number % 2 == 0:
    print(number)

In [ ]:
# 07:
# Given a list of words, print the ones that have more than 3 letters.

In [25]:
# answer 07:
my_list = ["apple", "banana", "cherry", "date", "elderberry", "ali", "Ana",]
for word in my_list:
  if len(word) > 3:
    print(word)

apple
banana
cherry
date
elderberry

In [ ]:
# 08:
# make a list odd numbers from 1 to 999, then split it in half into two lists

# hint:
# original_list = [1, 3, 5, 7, 9, ..., 997, 999]
# split the list
# first_half = [1, 3, 5, 7, ..., 499]
# second_half = [501, 503, 505, ..., 999]

In [24]:
# answer 08:
my_list = []
for i in range(1, 1000):
  if i % 2 != 0:
    my_list.append(i)

my_list_1 = my_list[:250]
my_list_2 = my_list[250:]
print(my_list_1)
print(my_list_2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499]
[501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623, 625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649, 651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701, 703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727, 729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753, 755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779, 781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805, 807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831, 833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857, 859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883, 885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999]